@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* font-family: 'Bree Serif', serif; */

* {
    margin: 0;
    padding: 0;
}

/* Change the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Change the color and rounded corners of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #74649d;
    height: 10px;
}

body {
    background-color: #FFFFFF;
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 40px 0px;
}
.contact{
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    width: 100%;

}

.contact h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.contact h3{
    font-size: 20px;
}

input, textarea{
    width: 50%;
    margin-top: 5px;
    height: 50px;
    padding: 2px;
    padding-left: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #74649d;
    font-family: 'Rubik', sans-serif;
    outline: none;
}

input:focus{
    background-color: white;
}

input::placeholder{
    color: #74649d;
}


textarea::placeholder{
    color: #74649d;
}

textarea{
    height: 150px;
    padding-top: 5px;
}

.submit{
    background-color: #74649d;
    color: white;
    padding: 10px 10px 10px;
    font-weight: bolder;
    border-radius: 5px;
    width: 100px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
    margin-bottom: 30px;
    border: 2px solid transparent;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.submit:hover{
    cursor: pointer;    
    color: #74649d;
    background-color: transparent;
    border: 2px solid #74649d;
}


@media only screen and (max-width: 768px) {

    input, textarea{
        width: 90%;
    }
    .contact{
        margin-top: 150px;
    }
}