@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* font-family: 'Bree Serif', serif; */

* {
    margin: 0;
    padding: 0;
}

/* Change the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Change the color and rounded corners of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #74649d;
    height: 10px;
}

body {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F4F6F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    font-family: 'Rubik', sans-serif;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.brand {
    font-size: 1.5rem;
    font-weight: bolder;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 25px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu a:hover {
    opacity: 0.9;
}

.contact-me {
    background-color: #74649d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    /* Adjust the radius as needed */
}


.contact-me:hover {
    opacity: 0.9;
}

/* Additional styles for "Resume" button */
.resume {
    background-color: #F0F2F4;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* Adjust the radius as needed */
    cursor: pointer;
}

.resume:hover {
    opacity: 0.9;
}

section{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact{
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    width: 1000px;

}

.contact h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.contact h3{
    font-size: 20px;
}

input, textarea{
    width: 500px;
    margin-top: 5px;
    height: 50px;
    padding: 2px;
    padding-left: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #74649d;
    font-family: 'Rubik', sans-serif;
    outline: none;
}

input:focus{
    background-color: white;
}

input::placeholder{
    color: #74649d;
}


textarea::placeholder{
    color: #74649d;
}

textarea{
    height: 150px;
    padding-top: 5px;
}

.submit{
    background-color: #74649d;
    color: white;
    padding: 10px 10px 10px;
    font-weight: bolder;
    border-radius: 5px;
    width: 100px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
}

.submit:hover{
    cursor: pointer;
    opacity: 0.9;
}


footer {
    background-color: #74649d;
    color: #fff;
    height: 100px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo img {
    margin-top: 25px;
    max-width: 200px;
    /* Adjust the size as needed */
}

.follow-me{
    margin-top: 20px;
}

.follow-me p {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}